{% extends 'payments/base.html' %}




{% block payments_body %}


<div class="row">
    <div class="col py-4">
        <div class="container mt-5">
            <h1 class="text-center text-primary-subtle m-1">
                {{_("Welcome to checkout page!")}}
            </h1>
            {% if checkout_form_content %}
            <div class="card p-3 border-0 shadow-sm">
                <div id="iyzipay-checkout-form" class="responsive"></div>
                <div>
                    {{checkout_form_content|safe}}
                </div>
            </div>
            {% else %}
            <div class="alert alert-info">
                <b>
                    {{_("Could not initialize checkout form.")}}
                </b>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock payments_body %}